name: Code check

on:
  pull_request:
    branches: [ master ]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: install node
        uses: actions/setup-node@v6
        with:
          node-version: 24.12.0
      - uses: ./.github/actions/codecheck
  test-vue:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: install node
        uses: actions/setup-node@v6
        with:
          node-version: 24.12.0
      - uses: ./.github/actions/test
        with:
          type: vue
  test-nuxt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: install node
        uses: actions/setup-node@v6
        with:
          node-version: 24.12.0
      - uses: ./.github/actions/test
        with:
          type: nuxt
