name: NPM Publish

on:
  push:
    branches: [ master ]

permissions:
  contents: write
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version: 24.12.0
      - uses: ./.github/actions/codecheck
  test-vue:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: install node
        uses: actions/setup-node@v6
        with:
          node-version: 24.12.0
      - uses: ./.github/actions/test
        with:
          type: vue
  test-nuxt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: install node
        uses: actions/setup-node@v6
        with:
          node-version: 24.12.0
      - uses: ./.github/actions/test
        with:
          type: nuxt
  docs-build:
    name: Docs build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: install node
        uses: actions/setup-node@v6
        with:
          node-version: 24.12.0
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Build main package
        run: |
          yarn
          yarn build
      - name: Build with VitePress
        run: |
          yarn docs:build
          touch docs/.vitepress/dist/.nojekyll
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: docs/.vitepress/dist
  npm-publish:
    name: NPM Publish
    needs:
      - check
      - test-vue
      - test-nuxt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24.12.0
          registry-url: 'https://registry.npmjs.org'
      - run: yarn
      - run: yarn lint && yarn build
      - run: npm publish --tag next --provenance --workspace=packages/vue-yandex-maps
        continue-on-error: true
  github-release:
    name: Release tag to Github
    needs: npm-publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Get Tag Name
        id: tagName
        uses: beaconbrigade/package-json-version@v0.3
        with:
          path: ./packages/vue-yandex-maps
      - name: Extract release notes
        id: extract-release-notes
        uses: ffurrer2/extract-release-notes@v3
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          target_commitish: master
          token: ${{ secrets.GITHUB_TOKEN }}
          tag_name: ${{ steps.tagName.outputs.version }}
          name: ${{ steps.release.outputs.title }}
          body: ${{ steps.extract-release-notes.outputs.release_notes }}
          #prerelease: true
#  docs-deploy:
#    name: Docs Deploy
#    continue-on-error: true
#    environment:
#      name: github-pages
#      url: ${{ steps.deployment.outputs.page_url }}
#    runs-on: ubuntu-latest
#    needs: docs-build
#    steps:
#      - name: Deploy to GitHub Pages
#        id: deployment
#        uses: actions/deploy-pages@v4

  docs-deploy:
    runs-on: ubuntu-latest
    environment:
      name: docs
      url: https://yandex-maps-v3.dk4000.pro
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
      - name: Build main package
        run: |
          yarn
          yarn build
      - name: Build with VitePress
        run: |
          yarn docs:build
          touch docs/.vitepress/dist/.nojekyll
      - name: Deploy to Cloudflare Pages
        run: |
          npx wrangler pages deploy ./docs/.vitepress/dist \
            --project-name=$PROJECT_NAME
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          PROJECT_NAME: vue-yandex-maps
